$color-primary: #012c6b;
$color-background: rgb(245,245,245);
$color-background-2: #dce0e7;
$color-background-3: rgba(214,176,93,0.9);

$color-icons: rgb(177,177,177);
$color-links: rgb(218,223,231);
