.container-links{
  padding: 12px;
  text-align: center;
  a{
    color: $color-icons;
    margin-right: 16px;
    font-size: 1.4rem;
    letter-spacing: 1px;

    &:hover{
      color: $color-primary;
      text-decoration: none;
    }
  }
  .links{
    position: relative;
    &::after{
      content: "|";
      position: absolute;
      right: -12px;
      color: $color-icons;
    }

  }
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $color-links;
    position: absolute;
    top: 0px;
    left: 0px;
  }

}
