.container-logo {
  .c-logo {
    height: 80px;

    .c-img {
      width: 30%;
      text-align: right;
      float: left;
      padding: 13px 0;
      img {
        width: 90px;
      }
    }
  }
}
