.c-social {
  position: relative;
  height: 80px;

  .c-icons-social {
    position: absolute;
    top: 40px;
    right: 60px;
  }
  .fa:before {
    color: $color-icons;
    font-size: 26px;
    padding: 6px;
  }
}
.fa:hover{
  background-color: $color-primary;
  color: red;
}
