.c-text-logo {
  width: 70%;
  height: 100%;
  position: relative;
  float: right;

  h2 {
    position: absolute;
    bottom: 0;
    left: 8px;
    color: #252c53;
    font-size: 1.7rem;
    line-height: 17px;
    margin: 0;
  }
}
